body{
    background-color: azure;
}
.palo-base{
    position: static;
    background-color: orange;
    height: 50px;
    width: 40px;
    margin: auto;
}
.base{
    padding: 100px;
    width: 150px;
    height: 500px;
    background-color: black;
    border-radius: 20%;
    margin: auto;
}
.light{
    margin-inline: -50px;
    margin-block-end: 20px;
}
.turn-Red{
    box-shadow: 0px 0px 20px 10px #ff2323;
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.red{
    background-color: rgb(53, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.turn-Yellow{
    box-shadow: 0px 0px 20px 10px #ffdc40;
    background-color: rgb(255, 255, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%
}
.yellow{
    background-color: rgb(86, 86, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.turn-Green{
    box-shadow: 0px 0px 20px 10px #00ff11;
    background-color: rgb(58, 230, 58);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.green{
    background-color: rgb(0, 93, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}